[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This module uses a feed forward neural network to identify a semsitive email from others. It is a classifier where the context of sensitivity is learned based on the emails which are labelled as sensitive.
[access "refs/*"]
	owner = group user/Raj Kumar Shrivastava (rajshrivastava)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Raj Kumar Shrivastava (rajshrivastava)
	label-Verified = -1..+1 group user/Raj Kumar Shrivastava (rajshrivastava)
	push = group user/Raj Kumar Shrivastava (rajshrivastava)
	read = group user/Raj Kumar Shrivastava (rajshrivastava)
	rebase = group user/Raj Kumar Shrivastava (rajshrivastava)
	removeReviewer = group user/Raj Kumar Shrivastava (rajshrivastava)
	submit = group user/Raj Kumar Shrivastava (rajshrivastava)
[access "refs/heads/*"]
	create = group user/Raj Kumar Shrivastava (rajshrivastava)
	push = +force group user/Raj Kumar Shrivastava (rajshrivastava)
	pushMerge = group user/Raj Kumar Shrivastava (rajshrivastava)
	read = group user/Raj Kumar Shrivastava (rajshrivastava)
[access "refs/tags/*"]
	push = group user/Raj Kumar Shrivastava (rajshrivastava)
	push = +force group user/Raj Kumar Shrivastava (rajshrivastava)
